@import url(../components/colors.css);
.foot {
  /* background-color: var(--red-color); */
  background: radial-gradient(rgb(220, 60, 23), rgb(122, 0, 37), rgb(64, 0, 0));
  height: auto;
  width: auto;
  margin-left: 350px;
}
.footercontent {
  display: flex;
  justify-content: flex-end;
  padding-inline-start: 10vh;
  padding-inline-end: 10vh;
}

.listone {
  display: block;
  margin-top: 5vh;
  color: white;
  margin-right: 15vh;
}

.listone ul {
  list-style: none;
}
.listone ul li {
  margin-top: 35px;
}
.listone ul li i {
  font-size: 40px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 2px 2px;
}
.listone ul li i:hover {
  font-size: 50px;
  border: 2px solid var(--yellow-color);
  border-radius: 10px;
  padding: 2px 2px;
  color: var(--yellow-color);
}
.listone ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}
.listone ul li a:hover {
  color: var(--yellow-color);
  text-decoration: none;
  letter-spacing: 4px;
}

.siteinfo {
  margin-top: 10vh;
  color: white;
}
