.header {
  /* border: 2px solid rebeccapurple; */
  height: auto;
  width: auto;
  padding-left: 370px;
  margin-top: 6%;
  display: flex;
  background-color: white;
  /* padding: 20% 0%; */
}
.left {
  display: block;
  margin: 0% auto;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left h5 {
  color: var(--dark-color);
  margin: 2% 0%;
  font-size: 20px;
  text-transform: capitalize;
}
.left h1 {
  color: rgb(110, 110, 110);
  margin: 2% 0%;
  font-size: 45px;
  width: 80%;
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
}
.left h1 span {
  color: rgb(207, 2, 64);
  font-size: 90px;
  text-transform: uppercase;
}

.left p {
  color: gray;
  width: 80%;
  text-align: justify;
}

.right img {
  height: auto;
  width: 100%;
}
/* From Uiverse.io by zjssun */
button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: var(--yellow-color);
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 3px solid var(--yellow-color);
  transition: 0.5s ease;
  user-select: none;
  margin-top: 5%;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  /* white-space: unset; */
  animation: typing 5s infinite, blink-caret 0.75s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 760px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .left h1 {
    font-size: 30px;
    width: 100%;
  }
  .left h1 span {
    font-size: 50px;
  }
  .left p {
    width: 100%;
  }
  img {
    height: auto;
    width: 50%;
  }
  button {
    margin-top: 10%;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 10px;
    margin-top: 8%;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .left h1 {
    font-size: 35px;
    width: 100%;
  }
  .left h1 span {
    font-size: 60px;
  }
  .left p {
    width: 100%;
  }
  .right img {
    width: 100%;
  }
  button {
    margin-top: 8%;
  }
}
