@import url(../components/colors.css);

/* setting background image */
.pageimg {
  display: flex;
  justify-content: center; /* centers the image */
  align-items: center; /* vertically centers the image */
  /* margin-left: 350px; */
  width: 100%;
  height: 36%;
}
.panel1 {
  /* border: 2px solid black; */
  width: auto;
  height: auto;
  margin-left: 350px;
  display: flex;
  flex-wrap: wrap;
}
/* how it work section in encryption page */
.working-section {
  background-color: white;
  width: 100%;
  padding: 5%;
}
.leftside {
  background-color: white;
  margin: 1% 0%;
}
.rightside {
  /* border: 2px solid rgb(0, 255, 42); */
  display: block;
  text-align: center;
  background-color: white;
  margin: 1% 0%;
}
.rightside label {
  font-size: 30px;
  font-weight: 500;
}
.section1 {
  display: flex;
  justify-content: center;
}
.section1 input {
  width: 75%;
}
.section1 i {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

/* bottom section */
.bottom {
  /* border: 2px solid orange; */
  background-color: white;
  height: auto;
  display: flex;
}
.bottomleft {
  /* border: 2px solid orange; */
  background-color: white;
  height: auto;
}
.uploadbg {
  /* margin: 50% 25%; */
  margin-top: 5%;

  margin-left: 30%;
  height: auto;
  width: 580px;
  border: 3px dashed var(--ash-color);
}
.uploadfooter {
  margin-top: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--ash-color);
  background-color: white;
}
.uploadfooter .btn {
  background-color: var(--basic-color);
  margin-inline-start: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.uploadfooter .btn:hover {
  background-color: green;
  color: white;
  margin-inline-start: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* bottom right styles */
.bottomright {
  /* border: 2px solid rgb(0, 102, 255); */
  padding-left: 15%;
  padding-top: 5%;
  padding-right: 15%;
}
.extractedtext textarea {
  width: 100%;
  border: 3px solid var(--ash-color);
  padding-top: 250px;
  overflow-y: scroll;
  text-align: inherit;
  background-image: url(../images/letter\ head.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.algorithmsection {
  /* border: 2px solid rebeccapurple; */
  display: block;
}
.algorithmsection button {
  /* border: 2px solid rebeccapurple; */
  margin-bottom: 20px;
}
.algorithm {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid var(--ash-color);
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.algorithm label {
  margin-top: 25px;
  margin-right: 40px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.RSA-btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--basic-color);
  color: var(--basic-color);
  width: 15%;
  margin-top: 20px;
  height: 3vh;
  border-radius: 20px;
  margin-right: 5px;
}
.RSA-btn:hover {
  /* background-color: var(--basic-color); */
  background: radial-gradient(rgb(220, 60, 23), rgb(122, 0, 37), rgb(64, 0, 0));
  color: white;
}

#recipentkey {
  width: max-content;
  margin-top: 20px;
}
.algorithm i {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}

#Encrypt-btn {
  margin-top: 30px;
  margin-left: auto;
  font-weight: 600;
  background-color: var(--basic-color);
}
#Encrypt-btn:hover {
  margin-top: 30px;
  background: radial-gradient(rgb(220, 60, 23), rgb(122, 0, 37), rgb(64, 0, 0));
  color: white;
}
#clear-btn {
  display: inline-flex;
  flex-direction: row;
  font-weight: 600;
  margin-top: 30px;
  /* margin-bottom: 20%; */
  margin-left: 5%;
  background-color: var(--secondary-color);
}
#clear-btn:hover {
  background: radial-gradient(rgb(220, 60, 23), rgb(122, 0, 37), rgb(64, 0, 0));
  color: white;
}
#Download-btn {
  display: inline-flex;
  flex-direction: row;
  font-weight: 600;
  margin-top: 30px;
  /* margin-bottom: 20%; */
  margin-left: 5%;
  background-color: var(--red-color);
}
#Download-btn a {
  color: white;
  text-decoration: none;
}
#Download-btn i {
  color: white;
  font-size: 20px;
  margin-left: 5px;
}
#Download-btn:hover {
  background: radial-gradient(rgb(220, 60, 23), rgb(122, 0, 37), rgb(64, 0, 0));
  color: white;
}

.RSA-btn.selected {
  background: radial-gradient(rgb(217, 22, 86), rgb(100, 13, 95));
  color: white;
}
