@import url(../components/colors.css);

/* setup page into two columns
first column is for the sidebar
second column is for the content
*/
.encryptpage {
  display: grid;
  grid-template-columns: 24% 2fr;
  margin-top: 0;
}
.enc-content {
  padding-left: 350px;
  background-color: white;
}
.headpanel {
  display: flex;
  align-items: center;
  padding-right: 2%;
}

/* how it work section in encryption page */
.working-section {
  background-color: white;
  width: 100%;
  padding: 5%;
}
.leftside {
  background-color: white;
  margin: 1% 0%;
}
.rightside {
  /* border: 2px solid rgb(0, 255, 42); */
  display: block;
  text-align: center;
  background-color: white;
  margin: 1% 0%;
}
.rightside label {
  font-size: 30px;
  font-weight: 500;
}
.section1 {
  display: flex;
  justify-content: center;
}
.section1 input {
  width: 75%;
}
.section1 i {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

/* bottom section */
.bottom {
  /* border: 2px solid orange; */
  background-color: white;
  height: auto;
  display: flex;
}
.bottomleft {
  /* border: 2px solid orange; */
  background-color: white;
  height: auto;
}
.uploadbg {
  margin-left: 30%;
  height: auto;
  width: 580px;
  border: 3px dashed var(--ash-color);
}
.uploadfooter {
  margin-top: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--ash-color);
  background-color: white;
}
.uploadfooter .btn {
  background-color: var(--basic-color);
  margin-inline-start: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.uploadfooter .btn:hover {
  background-color: green;
  color: white;
  margin-inline-start: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* bottom right styles */
.bottomright {
  padding-left: 2%;
  padding-right: 2%;
}
.extractedtext textarea {
  width: 100%;
  border: 3px solid var(--ash-color);
  padding-top: 350px;
  overflow-y: scroll;
  text-align: inherit;
  background-image: url(../images/letter\ head.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.algorithmsection {
  display: block;
}
.algorithmsection button {
  /* border: 2px solid rebeccapurple; */
  margin-bottom: 20px;
}
.algorithm {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid var(--ash-color);
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.algorithm label {
  margin-top: 25px;
  margin-right: 40px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.RSA-btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--basic-color);
  color: var(--basic-color);
  width: 15%;
  margin-top: 20px;
  height: 3vh;
  border-radius: 20px;
  margin-right: 5px;
  padding-bottom: 30px;
}
.RSA-btn:hover {
  /* background-color: var(--basic-color); */
  background: radial-gradient(rgb(220, 60, 23), rgb(122, 0, 37), rgb(64, 0, 0));
  color: white;
}

#recipentkey {
  width: max-content;
  margin-top: 20px;
}
.algorithm i {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}

#encryptsection a {
  color: white;
  text-decoration: none;
}
#encryptsection button {
  margin-left: 10px;
  background-color: rgb(126, 9, 9);
}
#encryptsection button:hover {
  margin-left: 10px;
  background-color: rgb(25, 38, 75);
}

.RSA-btn.selected {
  background: radial-gradient(rgb(217, 22, 86), rgb(100, 13, 95));
  color: white;
}

.encryptpage {
  display: block;
}
.rightside label {
  font-size: 20px;
  font-weight: 500;
}
.section1 input {
  width: 100%;
}
.section1 i {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.bottom {
  display: block;
}
.bottomleft {
  display: block;
}

.uploadfooter {
  margin-top: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--ash-color);
  background-color: white;
}
.uploadfooter .btn {
  background-color: var(--basic-color);
  margin-inline-start: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.uploadfooter .btn:hover {
  background-color: green;
  color: white;
  margin-inline-start: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) and (max-width: 1024px) {
  .headpanel img {
    display: none;
  }
  .headpanel {
    padding-right: 30%;
    padding-top: 2%;
  }
  .enc-content {
    margin-top: 30%;
    padding-left: 0;
  }
  .uploadbg {
    margin-left: 12%;
    height: auto;
    width: 580px;
    border: 3px dashed var(--ash-color);
  }
  .bottomright {
    padding-left: -15%;
    padding-top: 5%;
    padding-right: -15%;
  }
  .algorithmsection {
    margin: 0;
    padding: 0;
  }
  .bottomright :nth-child(3) .RSA-btn {
    border: 2px solid var(--basic-color);
    color: var(--basic-color);
    width: 16%;
    margin-top: 20px;
    height: 3vh;
    border-radius: 20px;
    margin-right: 15px;
    padding-bottom: 30px;
  }
  .bottomright .RSA-btn:hover {
    border: 2px solid var(--basic-color);
    color: var(--ash-color);
  }
  .bottomright :nth-child(4) .RSA-btn {
    border: 2px solid var(--basic-color);
    color: var(--basic-color);
    width: 30%;
    margin-top: 20px;
    height: 3vh;
    border-radius: 20px;
    margin-right: 15px;
    padding-bottom: 30px;
  }
  .bottomright :nth-child(4) .RSA-btn:hover {
    border: 2px solid var(--basic-color);
    color: var(--ash-color);
  }
  #encryptsection a {
    color: white;
    text-decoration: none;
  }
  #encryptsection button {
    margin-left: 10px;
    background-color: rgb(126, 9, 9);
  }
  .RSA-btn.selected {
    background: radial-gradient(rgb(217, 22, 86), rgb(100, 13, 95));
    color: white;
  }
}
